{% extends 'base.html' %}

{% block title %} Home | {% endblock title %}

{% block body %}

<div class="container-fluid px-0">
   <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/images/p1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Delicious!!</h5>
            <p>Sweet, cold, and creamy with a chance of sprinkles</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/images/p2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Sweetest!!</h5>
            <p>A surprise in every lick</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/images/p3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Yummy!!</h5>
            <p>Peace, love, joy, and ice cream</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>






<div class="container my-3">
  <h1 class="my-4 text-center">Select your favourite Ice cream from Range</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q1.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Sweety & Creamy Burst</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.300</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q2.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Ice Cream Dream Cup</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.990</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q3.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Frosty Treats</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.430</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q4.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Scooper Dooper Treats</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.300</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q5.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Cold Circle Almonds</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.610</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q6.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Vanilla Rose Bar</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.550</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q7.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Smooth Vanilla Gems</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.330</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q8.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Milkyway Vanilla</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.480</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q9.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Royal Strawberry Burst</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.550</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q10.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Creamy Delix Cup</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.610</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q11.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Rusty Chocobar</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.220</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q12.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Freezy Cone</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.330</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q13.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Chocolate Chip Cookie Dough</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.600</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q14.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Cookies N Cream</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.430</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q15.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">It takes two to Mango</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.250</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q16.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Maui Brownie Bar</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.200</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q17.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Rainbow Sherbet</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.440</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q18.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Love Portion Bar</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.225</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q19.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Peanut Butter & ChocoBar</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.200</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q20.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Strawberry Cheese Cake</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.300</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card shadow-sm">
        <img src="static/images/q21.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">ChocoDonut & Vaniilla</p>
          <div class="d-flex justify-content-between align-items-center">
            <strong class="text-unmuted">Rs.250</strong>
            <small class="text-muted">Per pack</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

